<html>
  <head>
		<meta charset="UTF-8">
    <title>Bem vindo ao ambiente de <%= @name %></title>
  </head>
  <body>
  <style>
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  </style>  
    <h1>Ambiente de <%= @name %></h1>
	<table>
		<tr>
			<th>RM</th>
			<th>Nome</th>
		</tr>
		    <td>331384</td>
			<td>FELIPE PAES DE OLIVEIRA</td>
		<tr>
		    <td>330962</td>
			<td>MILTON SALVADOR CAVALIERI JUNIOR</td>
		</tr>
		<tr>
		    <td>331124</td>
			<td>WILSON RIBEIRO</td>
		
		</tr>
	</table>
  </body>
</html>